

.btn-group
{
    display : contents; 
}

.col-sm-6
{
    margin-top:  70px;
    margin-left: 450px;
    opacity: 0.90;
}

h2{
    margin-left : 0px;
    opacity : 1.0;

}

.info {
    width: 300px;
    
}

.jumbotron
{
    
    width : 450px;
    margin: 100px;
    padding: 0px;
    margin-left : 300px;
}

.jumbotron2
{
    
    width : 0px;
    margin: 0px;
    padding: 0px;
    margin-left : 0px;
}

.jumbotron3
{
    
    width : 800px;
    margin: 100px;
    padding: 0px;
    margin-left : 300px;
}


.form-group
{
    margin-left: 45px;
    opacity : none
}

.container
{
    background-color: white;
     opacity: 0.90;
}
